# Ignore database

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
/media
/staticfiles

# Virtual environments:
env/
venv/
ENV/
